@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElmsSans';
    src: url('ElmsSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Paleta de colores:
    rgb(168, 245, 193);     #8BA3C5
    rgb(50, 124, 72);       #495B7D
    rgb(45, 105, 63);       #23354D
    rgb(32, 78, 46);        #02122F  
*/


header {
    background-color: #495B7D;
    color: #8BA3C5;
}

footer {
    background-color: #495B7D;
    color: #8BA3C5;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


.botonInicioSesion {
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.btnInicioSesion {
    margin-left: auto;
    font-size: 16px;
    padding: 13px;
    border-radius: 100px;
    background-color: #23354D;
    border-width: 0px;
    cursor: pointer;
    transition: .3s ease;
}

.btnInicioSesion:hover {
    background-color: #02122F;
}

.botonClubes {
    display: flex;
    justify-content: center;
    padding: 5px
}

.btnClubes {
    font-size: 20px;
    padding: 13px;
    border-radius: 100px;
    background-color: #23354D;
    border-width: 0px;
    cursor: pointer;
    transition: .3s ease;
}

.btnClubes:hover {
    background-color: #02122F;
}

h1 {
    font-family: 'ElmsSans', sans-serif;
    letter-spacing: 8px;
    color: #8BA3C5;
}
p {
    color: #8BA3C5; 
    font-family: 'Montserrat', sans-serif;
}
h2 {
    color: #8BA3C5;
    letter-spacing: 4px;
    font-family: 'ElmsSans', sans-serif;
}
h3 {
    color: #8BA3C5;
    letter-spacing: 3px;
    font-family: 'ElmsSans', sans-serif;
}
li {
    color: #8BA3C5;
    font-family: 'ElmsSans', sans-serif;
}
main{
    flex: 1;
}

div.grupo_bloques_footer {
    padding: 0px 100px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 100px;
}
div.bloques_footer {
    width: 800px;
}